
<footer class="footer">
  <div class="container">
    <p class="navbar-text pull-left">(c) 2015 SKELETON, Inc.</p>
      
    <p class="navbar-text pull-right">
      <a href="/about">about</a> | <a href="/blog">blog</a> | <a href="/help">help</a>
    </p>
    

  </div>
</footer>


