<div id="navbar" class="navbar-collapse collapse">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "navbar-form navbar-right"}) do |f| %>
    <div class="form-group">
      <input type="text" placeholder="Email" class="form-control">
    </div>
    <div class="form-group">
      <input type="password" placeholder="Password" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary form-control">Sign in</button>
    <input type="hidden" name="user[remember_me]" value="1" />
    <a class="btn btn-primary btn-success form-control" href="/join" style="color:white;">Sign up!</a>
  <% end %>
    
</div>