<div class="row">
  <div class="col-md-7">
    <h3>What is SKELETON?</h3>
    <p>SKELETON is a basic rails site with some standard looking pages you can use as a basis for hackathon type projects or simple web sites and web applications.  Check out the README for usage info.  SKELETON is on github here: <a href="https://github.com/ricklusive/rails_skeleton">https://github.com/ricklusive/rails_skeleton</a></p>

    <h3>What's an about page?</h3>
    <p>Whatever you want it to be!  Tell the world about what you're doing!</p>
  </div>
</div>