<div class="row">
  <div class="col-md-7">
    <h3>How do I get help?</h3>
    <p>Check out the README for usage info.  SKELETON is on github here: <a href="https://github.com/ricklusive/rails_skeleton">https://github.com/ricklusive/rails_skeleton</a></p>

    <h3>Not helpful enough?</h3>
    <p>DM me on twitter <a href="https://twitter.com/ricklusive/">@ricklusive</a> or email <a href="mailto:ricklusive@gmail.com">ricklusive@gmail.com</a></p>
  </div>
</div>